@media screen and (max-width: 1199px) {
  .skills {
    max-width: 750px;
    margin: auto;
  }

  .redux-logo {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
  }

  .redux-logo > img {
    width: 130px;
    height: 130px;
    padding: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .skills {
    max-width: 900px;
    margin: auto;
  }

  .redux-logo {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
  }

  .redux-logo > img {
    width: 130px;
    height: 130px;
    padding: 15px;
  }
}

.project__title {
  font-size: 36px;
  font-weight: bold;
  /*font-family: PT Sans Narrow, Georgia, sans-serif;*/
}

/*.project__description {
  font-size: 20px;
  margin: 0 16px;
  font-family: PT Sans Narrow, Georgia, sans-serif;
}*/

.project__links > a {
  text-decoration: none;
  border-bottom: none;
  color: #3498db;
}


.logos {
  margin: auto;
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

i[class^=devicon-] {
  padding: 15px;
  font-size: 100px;
}
/* canvas dots */
/*html, body {
  background: #333;
}*/
.header-wrapper{
  position: relative;
  height: 50vh;
  width: 100%;
}
.canvas__dots {
  /*background: #333;*/
}

canvas{
  margin-left: auto;
  position: absolute;;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  width: 100%;
  height: inherit;
}

@media screen and (min-width: 961px) and (max-width: 1320px) {
  #logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #logo > span {
    width: auto;
    height: auto;
    background-color: transparent;
  }

  #logo > h1 {
    display: block;
    align-self: flex-start;
  }

  #logo > p {
    display: inline;
    align-self: flex-start;
  }
}
